[submodule "libraries/BLE"]
	path = libraries/BLE
	url = https://github.com/nkolban/ESP32_BLE_Arduino.git
[submodule "libraries/AzureIoT"]
	path = libraries/AzureIoT
	url = https://github.com/VSChina/ESP32_AzureIoT_Arduino
[submodule "libraries/Adafruit_DRV2605_Library"]
	path = libraries/Adafruit_DRV2605_Library
	url = https://github.com/blueknobby/Adafruit_DRV2605_Library.git
[submodule "libraries/Adafruit_GFX_Library"]
	path = libraries/Adafruit_GFX_Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_LED_Backpack"]
	path = libraries/Adafruit_LED_Backpack
	url = https://github.com/adafruit/Adafruit_LED_Backpack.git
[submodule "libraries/Adafruit_LIS3DH"]
	path = libraries/Adafruit_LIS3DH
	url = https://github.com/adafruit/Adafruit_LIS3DH.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "libraries/Chrono"]
	path = libraries/Chrono
	url = https://github.com/SofaPirate/Chrono.git
[submodule "libraries/SX1509_IO_Expander"]
	path = libraries/SX1509_IO_Expander
	url = https://github.com/sparkfun/SparkFun_SX1509_Arduino_Library.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/blueknobby/Time.git
[submodule "libraries/WiThrottle"]
	path = libraries/WiThrottle
	url = git@github.com:davidzuhn/WiThrottle.git
